{% extends "base.html.twig" %}

{% block content_title %}
    Безответная любовь
{% endblock %}

{% block content %}
    <p class="text-center">
        После расставания с любимым парнем или девушкой, мужем или женой, каждый из нас испытывает боль. И не важно,
        было ли решение обоюдным, или кто-то бросил партнера. Пережить расставание с любимым человеком вам поможет наша
        программа робота-психолога. Кроме этого, если вы испытываете безответную любовь к парню или девушке, мечтаете
        разлюбить, забыть и отпустить этого человека, прохождение данной программы будет для вас очень полезным.
    </p>
    <hr>

    <h4>Шаг 8</h4>
    <p class="text-center">
        Отлично, user. После прохождения программы вы можете сохранить это письмо в заключении. С ним можно сделать что угодно. Хоть порвать, хоть сжечь, хоть хранить на память. Такая проработка, во-первых, позволит вам избавиться от лишних переживаний. Во-вторых, она позволит не допустить ошибок в следующих отношениях и послужит своеобразной чертой, которая знаменует новый этап в жизни.
    </p>

    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="{{ url('robot.show', {slug: slug, step: 'result'}) }}">Далее</a>
    </div>
{% endblock %}
