{% extends "base.html.twig" %}

{% block content_title %}
Подростковые проблемы с родителями, с семьей
{% endblock %}

{% block content %}
<p class="text-center">
    Вопросы о том, как повысить самооценку и уверенность в себе волнуют многих. К сожалению, в современном мире очень много людей страдает проблемой заниженной самооценки. Низкая самооценка приводит к проблемам во всех сферах жизни: любовных отношениях, работе, учебе, отношениях с друзьями и семьей. Формирование самооценки - это важная задача не только для школьников, но и для взрослых людей, страдающих такой проблемой. Повышенная самооценка, как правило, не доставляет таких сильных проблем человеку, как пониженная. Повысить самооценку можно с помощью нашей программы робота-психолога онлайн совершенно бесплатно.
</p>
<hr>
<p>
    Доброго времени суток! Давайте для начала познакомимся? Расскажите немного о себе...
Отвечайте честно. Вся указанная информация конфиденциальна.
</p>
<h4>Шаг 1</h4>

<div class="mb-3 w-50">
    <label for="name" class="form-label">Как вас зовут?</label>
    <input type="text" class="form-control" id="name">
</div>

<div class="mb-3 row">
    <label for="age" class="col-2 col-form-label">Ваш возраст:</label>
    <div class="col-1">
      <input type="number" class="form-control" id="age" min="10" max="100">
    </div>
</div>

<div class="mb-3 w-50">
    <label for="name" class="form-label">Ваш пол?</label>
    <div class="form-check form-check-inline ms-3">
        <input class="form-check-input" type="radio" name="gender" id="male">
        <label class="form-check-label" for="male">
            мужчина
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="female">
        <label class="form-check-label" for="female">
            женщина
        </label>
    </div>
</div>

<div class="mb-3">
    <label for="age" class="col-2 col-form-label">С кем вы живете?</label>
    <div class="w-50">
        <select class="form-select">
            <option selected>Другое</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>

<div class="mb-3">
    <label for="birthday" class="col-sm-3 col-form-label">Семейное положение:</label>

    <div class="w-50">
        <select class="form-select">
            <option selected>Другое</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>

<div class="mb-3">
    <label for="age" class="col-form-label">Отметьте галочкой пункты, которые есть у вас.</label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Татуировка(и) или пирсинг
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
            Алкогольная зависимость
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
            Курение
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
            Наркотическая зависимость
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Занимаетесь самоповреждением (режете себя)
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
            Что-то из перечисленного: грызете ногти, кусаете губы, щёки изнутри, сдираете прыщики или неровности на теле, рвете волосы или что-то подобное
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
            Думаете о суициде
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
            Были попытки(а) суицида
        </label>
    </div>
</div>

<div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="{{ url('robot.show', {slug: slug, step: 'step2'}) }}">Далее</a>
</div>
{% endblock %}
