{% extends "base.html.twig" %}

{% block content_title %}
Подростковые проблемы с родителями, с семьей
{% endblock %}

{% block content %}
<p class="text-center">
    Вопросы о том, как повысить самооценку и уверенность в себе волнуют многих. К сожалению, в современном мире очень много людей страдает проблемой заниженной самооценки. Низкая самооценка приводит к проблемам во всех сферах жизни: любовных отношениях, работе, учебе, отношениях с друзьями и семьей. Формирование самооценки - это важная задача не только для школьников, но и для взрослых людей, страдающих такой проблемой. Повышенная самооценка, как правило, не доставляет таких сильных проблем человеку, как пониженная. Повысить самооценку можно с помощью нашей программы робота-психолога онлайн совершенно бесплатно.
</p>
<hr>
<h4>Шаг 3</h4>
<p>Хорошо, USER. Итак, получается, что вам не нравится в себе следующее.</p>

<p class="mb-1">
    1. Ваша внешность, а именно:
</p>
<p>
    asdasd
</p>

<p class="mb-1">
    2. Ваши личные качества, а именно:
</p>
<p>
    asdasd
</p>

<p class="mb-1">
    3. И еще некоторые вещи, а именно:
</p>
<p>
    asdasd
</p>

<p>
    Если всё верно и вы ничего не забыли указать, то давайте продолжим наш разговор.
Но если что-то хотите убрать или добавить - вернитесь на предыдущий шаг и сделайте это (кнопка выше).
</p>

<p>
    Итак, сейчас Вам нужно понять одну вещь. Все эти утверждения о вас - не Ваши. Это на самом деле чужие слова. Их кто-то сказал вам глубоко в детстве. Попробуйте вспомнить, а в каких ситуациях вы ощущали себя таким?
Поясню. Когда ребёнок рождается, ни о какой заниженной самооценке и речи быть не может. Я думаю, 123, Вы это понимаете. Младенец не будет думать, что у него длинный нос, что у него слишком маленькие глаза или что он недостаточно умен и талантлив. Наши родители - это люди, которые и формируют в нас наше первое отношение к себе. И только взрослея, мы уже можем перестать верить их словам, подумать и проанализировать себя сами. Тем не менее, их слова и поступки остаются у нас в памяти на подсознательном уровне. И мы можем продолжать воспринимать их как наши собственные, однако, это не так. Поэтому, сейчас нам нужно попытаться вспомнить: а кто вам говорил всё это о вас? Подумайте и выберите галочкой всех, кто же это был.
</p>

<div class="mb-3">
    <label for="age" class="col-form-label">В детстве всё это мне говорили:</label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Мама
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Папа
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Бабушка
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Дедушка
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Отчим
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Мачеха
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Брат
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Сестра
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Другие люди
        </label>
    </div>
</div>

<div class="mb-3">
    <label for="name" class="form-label">Вы сейчас живете вместе с кем-то из этих людей?</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="male">
        <label class="form-check-label" for="male">
            да
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="female">
        <label class="form-check-label" for="female">
            нет
        </label>
    </div>
</div>

<p>
    Напишите здесь примеры этих обидных ситуаций (детально, конкретные диалоги).
Чем больше таких ситуаций удастся сейчас вспомнить и описать, тем лучше!
</p>

<div>
    <textarea name="" id="" class="form-control w-50" rows="5"></textarea>
</div>
<p>
    <i>
        Если ничего вспомнить не удаётся, оставьте это поле пустым.
    </i>
</p>

<div class="mb-3">
    <label for="name" class="form-label">Ваши родители в разводе (не живут вместе)?</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="male">
        <label class="form-check-label" for="male">
            да
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="female">
        <label class="form-check-label" for="female">
            нет
        </label>
    </div>
</div>

<div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="{{ url('robot.show', {slug: slug, step: 'result'}) }}">Далее</a>
</div>

{% endblock %}
