{% extends "base.html.twig" %}

{% block content_title %}
Подростковые проблемы с родителями, с семьей
{% endblock %}

{% block content %}
<p class="text-center">
    Вопросы о том, как повысить самооценку и уверенность в себе волнуют многих. К сожалению, в современном мире очень много людей страдает проблемой заниженной самооценки. Низкая самооценка приводит к проблемам во всех сферах жизни: любовных отношениях, работе, учебе, отношениях с друзьями и семьей. Формирование самооценки - это важная задача не только для школьников, но и для взрослых людей, страдающих такой проблемой. Повышенная самооценка, как правило, не доставляет таких сильных проблем человеку, как пониженная. Повысить самооценку можно с помощью нашей программы робота-психолога онлайн совершенно бесплатно.
</p>
<hr>
<h4>Шаг 2</h4>
<p>
    <span>USER</span>, давайте разберемся детальнее: что конкретно вас не устраивает в себе. Заполните информацию ниже.
Укажите всё, что вам не нравится в себе по пунктам, как можно детальнее. Это важно!
</p>

<h5>Внешность</h5>

<p>
    Вам не нравится что-то в своей внешности (теле)? Если да, то укажите информацию в поле ниже.
</p>

<div>
    <textarea name="" id="" class="form-control w-50" rows="5"></textarea>
</div>
<p>
    <i>
        Например: худой, полный, маленькие глаза, некрасивые волосы, низкий рост, длинный нос, неприятный голос и так далее...
    </i>
</p>

<h5>Личные качества</h5>

<p>
    Вам не нравится что-то в вашем характере, ваших способностях? Если да, то укажите информацию в поле ниже.
</p>

<div>
    <textarea name="" id="" class="form-control w-50" rows="5"></textarea>
</div>
<p>
    <i>
        Например: глупый, неинтересный, скучный, нет талантов, неуверенный в себе, стеснительный и так далее...
    </i>
</p>

<h5>Прочее</h5>

<p>
    Вам не нравится что-то еще, и это не подходит к предыдущим полям? Если да, то укажите информацию в поле ниже.
</p>

<div>
    <textarea name="" id="" class="form-control w-50" rows="5"></textarea>
</div>
<p>
    <i>
        Например: ненавижу свою фамилию и так далее...
    </i>
</p>

<h5>Панические атаки</h5>

<div class="mb-3 w-50">
    <label for="name" class="form-label">Случаются ли с вами панические атаки (хотя бы 1 раз)?</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="male">
        <label class="form-check-label" for="male">
            да
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="female">
        <label class="form-check-label" for="female">
            нет
        </label>
    </div>
</div>

<p>
    <i>
        Паническая атака - это приступ внезапно начавшегося сильного беспокойства, страха, сопровождающийся физическими проявлениями.
Частые симптомы: учащенное сердцебиение, головокружение, ощущение себя словно в тумане, тяжелое дыхание, нехватка воздуха, бросание в пот, бросание в жар и холод.
    </i>
</p>

<div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="{{ url('robot.show', {slug: slug, step: 'step3'}) }}">Далее</a>
</div>

{% endblock %}
