{% extends "base.html.twig" %}

{% block content_title %}
Тест "30 пословиц". Стратегия вашего поведения в конфликте
{% endblock %}

{% block content %}
<div class="container col-7 mt-5">
    <h5>Стратегия "Сова"</h5>
    <p style="text-indent: 25px;">
        Это честные и открытые люди. Представители этого типа никогда не будут изворачиваться, уходить от борьбы, они могут пожертвовать хорошими отношениями во имя выбранной цели. У них стратегия честной и открытой борьбы, честной и открытой цели.
    </p>

    <h5>Рекомендации:</h5>

    <p style="text-indent: 25px;">
        Посещение тренинговой группы.
    </p>

    <p style="text-indent: 25px;">
        Разработать варианты решений. Конфликтующие стороны предлагают несколько вариантов решений с расчетом затрат по каждому из них, с учетом возможных последствий.
    </p>

    <p style="text-indent: 25px;">
        Попробуйте отличить главное от второстепенного. Казалось бы, чего проще, но жизнь показывает, что сделать это довольно сложно. Практически ничто кроме интуиции не может вам помочь. Но если регулярно анализировать ситуацию, мотивы своего поведения, если пытаться понять, что, действительно является «вопросом жизни и смерти», а что просто вашими амбициями, и научиться отбрасывать несущественное, вы сможете следовать следующему совету: «Не позволяйте себе расстраиваться из-за пустяков, которые следует презирать и забыть. Помните, что жизнь слишком коротка, чтобы растрачивать ее на пустяки». Умение отличить главное от второстепенного должно помочь вам найти правильную линию поведения в конфликтах.
    </p>
</div>
{% endblock %}
