{% extends "robot/robot_base.html.twig" %}

{% block robot_content %}
<div class="mt-4">
    <h5>Пройдите программы:</h5>
</div>
<div>
    <table class="table">
        <tr>
            <td class="p-3">
                <i class="fa-solid fa-arrow-right"></i>
                <a href="" class="link">Страхи, фобии, панические атаки</a>
            </td>
        </tr>
        <tr>
            <td class="p-3">
                <i class="fa-solid fa-arrow-right"></i>
                <a href="" class="link">Страхи, фобии, панические атаки</a>
            </td>
        </tr>
        <tr>
            <td class="p-3">
                <i class="fa-solid fa-arrow-right"></i>
                <a href="" class="link">Страхи, фобии, панические атаки</a>
            </td>
        </tr>
        <tr>
            <td class="p-3">
                <i class="fa-solid fa-arrow-right"></i>
                <a href="" class="link">Страхи, фобии, панические атаки</a>
            </td>
        </tr>
        <tr>
            <td class="p-3">
                <i class="fa-solid fa-arrow-right"></i>
                <a href="" class="link">Страхи, фобии, панические атаки</a>
            </td>
        </tr>
    </table>
</div>

{% endblock %}
