{% extends "base.html.twig" %}

{% block content_title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    {{ article.content|raw }}

    <h5>Автор: {{ article.psychologistProfile.firstName }} {{ article.psychologistProfile.lastName }}</h5>
{% endblock %}
