{% extends "base.html.twig" %}

{% block content_title %}
Экспресс-тест на наличие обсессивно-компульсивного расстройства
{% endblock %}

{% block content %}
<p>
    ОКР или обсессивно-компульсивное расстройство - это психическое расстройство, в основе которого лежат навязчивые мысли, идеи и действия, возникающие помимо желания человека и сложно им контролируемые. Ответьте на следующие 7 вопросов. Это позволит определить вероятность наличия у вас обсессивно-компульсивного расстройства.
</p>

<div class="container col-7">
    <h5 class="text-center mb-4 mt-3">
        Ваш результат
    </h5>
    <div class="progress" style="height: 25px;">
        <div class="progress-bar d-block" role="progressbar" style="font-size: 1.4em; width: {{ percent }}%; background-color: rgb(240,90,102);" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <span>{{ percent }}%</span>
        </div>
    </div>

    <div class="mt-4">
        <p class="text-center fs-4">
            Вероятность наличия у вас обсессивно-компульсивного расстройства: <b>средняя (возможно легкая степень ОКР)</b>
        </p>
        <ul class="mt-3 text-center fs-6" style="list-style: none;">
            <li>
                <a href="#" class="link">Пройдите тест на степень развития обсессивно-компульсивного расстройства.</a>
            </li>
            <li>
                <a href="#" class="link">Пройдите программу робота-психолога по обсессивно-компульсивному расстройству</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
