{% extends "base.html.twig" %}

{% block content_title %}
Личный кабинет
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-3">
        {{ include('client/navbar.html.twig') }}
    </div>
    <div class="col-9">

    </div>
</div>

{% endblock %}
