{% extends "base.html.twig" %}

{% block content_title %}
Личный кабинет
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-3">
        {{ include('client/navbar.html.twig') }}
    </div>
    <div class="col-9">
        <p>
            <b>Имя:</b>
            Евдокимов Эдуард
        </p>
        <p>
            <b>Пол:</b>
            мужской
        </p>
        <p>
            <b>Дата рождения:</b>
            22.02.2022
        </p>
        <p>
            <b>E-mail:</b>
            test@mail.com
        </p>

        <h4 class="text-center">Психологические данные</h4>

        <p>
            <b>С кем проживаете:</b>
            с рыбками
        </p>
        <p>
            <b>Семейное положение:</b>
            вольный художник
        </p>
        <p>
            <b>Дети:</b>
            мальчик и мальчик
        </p>
        <p>
            <b>Чем занимаетесь в жизни:</b>
            бутеры ем
        </p>

        <h4 class="text-center">Медицинские данные</h4>

        <p>
            <b>Вес:</b>
            80
        </p>
        <p>
            <b>Рост:</b>
            188
        </p>
    </div>
</div>

{% endblock %}
