{% extends "base.html.twig" %}

{% block content_title %}
Определение подходящей профессии (дифференциально-диагностический опросник Климова Е.А.)
{% endblock %}

{% block content %}
<div class="mt-3">
    <h5>Ваш профиль</h5>
    <div class="progress" style="height: 25px;">
        <div class="progress-bar d-block" role="progressbar" style="font-size: 1.4em; width: 20%; background-color: #98fb98;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <i class="fa-solid fa-leaf"></i>
            <span>20%</span>
        </div>
        <div class="progress-bar d-block" role="progressbar" style="font-size: 1.4em; width: 20%; background-color: #dcdcdc;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <i class="fa-solid fa-car"></i>
            <span>20%</span>
        </div>
        <div class="progress-bar d-block" role="progressbar" style="font-size: 1.4em; width: 20%; background-color: #f4a460;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <i class="fa-solid fa-users"></i>
            <span>20%</span>
        </div>
        <div class="progress-bar d-block" role="progressbar" style="font-size: 1.4em; width: 20%; background-color: #87ceeb;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <i class="fa-solid fa-calculator"></i>
            <span>20%</span>
        </div>
        <div class="progress-bar d-block" role="progressbar" style="font-size: 1.4em; width: 20%; background-color: #ffc0cb;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <i class="fa-solid fa-paintbrush"></i>
            <span>20%</span>
        </div>
    </div>
</div>
<div class="mt-3">
    <h6>Расшифровка</h6>

    <div style="background-color: #98fb98; border-radius: 10px" class="p-3">
        <div class="text-center fs-3 mb-3" >
            <i class="fa-solid fa-leaf"></i>
            &laquo;Человек-природа&raquo;
        </div>
        <div>
            <p style="text-indent: 25px;">
                Если вы любите работать в саду, огороде, ухаживать за растениями, животными, любите предмет биологию, то ознакомьтесь с профессиями типа «человек-природа».
            </p>
            <p style="text-indent: 25px;">
                Предметом труда для представителей большинства профессий типа «человек природа» являются:
            </p>
            <ul>
                <li>
                    животные, условия их роста, жизни;
                </li>
                <li>
                    растения, условия их произрастания.
                </li>
            </ul>
            <p style="text-indent: 25px;">
                Специалистам в этой области приходится выполнять следующие виды деятельности:
            </p>
            <ul>
                <li>
                    изучать, исследовать, анализировать состояние, условия жизни растений или животных (агроном, микробиолог, зоотехник, гидробиолог, агрохимик, фитопатолог);
                </li>
                <li>
                    выращивать растения, ухаживать за животными (лесовод, полевод, цветовод, овощевод, птицевод, животновод, садовод, пчеловод);
                </li>
                <li>
                    проводить профилактику заболеваний растений и животных (ветеринар, врач карантинной службы).
                </li>
            </ul>
            <p style="text-indent: 25px;">
                Психологические требования профессий «человек-природа»:
            </p>
            <ul>
                <li>
                    развитое воображение, наглядно-образное мышление, хорошая зрительная памятm наблюдательность, способность предвидеть и оценивать изменчивые природные факторы;
                </li>
                <li>
                    поскольку результаты деятельности выявляются по прошествии довольно длительного времени, специалист должен обладать терпением, настойчивостью, должен быть готовым работать вне коллективов, иногда в трудных погодных условиях, в грязи и т. п.
                </li>
            </ul>
        </div>
    </div>

    <div style="background-color: #dcdcdc; border-radius: 10px" class="p-3 mt-3">
        <div class="text-center fs-3 mb-3" >
            <i class="fa-solid fa-car"></i>
            &laquo;Человек-техника&raquo;
        </div>
        <div>
            <p style="text-indent: 25px;">
                Если вам нравятся лабораторные работы по физике, химии, электротехнике, если вы делаете модели, разбираетесь в бытовой технике, если вы хотите создавать, эксплуатировать или ремонтировать машины, механизмы, аппараты, станки, то ознакомьтесь с профессиями «человек-техника».
            </p>
            <p style="text-indent: 25px;">
                Предметом труда для представителей большинства профессий типа «человек техника» являются:
            </p>
            <ul>
                <li>
                    технические объекты (машины, механизмы);
                </li>
                <li>
                    материалы, виды энергии.
                </li>
            </ul>
            <p style="text-indent: 25px;">
                Специалистам в этой области приходится выполнять следующие виды деятельности:
            </p>
            <ul>
                <li>
                    создание, монтаж, сборка технических устройств (специалисты проектируют, конструируют технические системы, устройства, разрабатывают процессы их изготовления. Из отдельных узлов, деталей собирают машины, механизмы, приборы, регулируют и налаживают их);
                </li>
                <li>
                    эксплуатация технических устройств (специалисты работают на станках, управляют транспортом, автоматическими системами);
                </li>
                <li>
                    ремонт технических устройств (специалисты выявляют, распознают неисправности технических систем, приборов, механизмов, ремонтируют, регулируют, налаживают их).
                </li>
            </ul>
            <p style="text-indent: 25px;">
                Психологические требования профессий «человек-техника»:
            </p>
            <ul>
                <li>
                    хорошая координация движений;
                </li>
                <li>
                    точное зрительное, слуховое, вибрационное и кинестетическое восприятие;
                </li>
                <li>
                    развитое техническое и творческое мышление и воображение;
                </li>
                <li>
                    умение переключать и концентрировать внимание;
                </li>
                <li>
                    наблюдательность.
                </li>
            </ul>
        </div>
    </div>

    <div style="background-color: #f4a460; border-radius: 10px" class="p-3 mt-3">
        <div class="text-center fs-3 mb-3" >
            <i class="fa-solid fa-users"></i>
            &laquo;Человек-человек&raquo;
        </div>
        <div>
            <p style="text-indent: 25px;">
                Предметом труда для представителей большинства профессий типа «человек человек» являются люди.
            </p>
            <p style="text-indent: 25px;">
                Специалистам в этой области приходится выполнять следующие виды деятельности:
            </p>
            <ul>
                <li>
                    воспитание, обучение людей (воспитатель, учитель, спортивный тренер);
                </li>
                <li>
                    медицинское обслуживание (врач, фельдшер, медсестра, няня);
                </li>
                <li>
                    бытовое обслуживание (продавец, парикмахер, официант, вахтер);
                </li>
                <li>
                    информационное обслуживание (библиотекарь, экскурсовод, лектор);
                </li>
                <li>
                    защита общества и государства (юрист, милиционер, инспектор, военнослужащий).
                </li>
            </ul>
            <p style="text-indent: 25px;">
                Психологические требования профессий «человек-человек»:
            </p>
            <ul>
                <li>
                    стремление к общению, умение легко вступать в контакт с незнакомыми людьми;
                </li>
                <li>
                    устойчивое хорошее самочувствие при работе с людьми;
                </li>
                <li>
                    развитое техническое и творческое мышление и воображение;
                </li>
                <li>
                    доброжелательность, отзывчивость;
                </li>
                <li>
                    выдержка;
                </li>
                <li>
                    умение сдерживать эмоции;
                </li>
                <li>
                    способность анализировать поведение окружающих и свое собственное, понимать намерения и настроение других людей, способность разбираться во взаимоотношениях людей, умение улаживать разногласия между ними, организовывать их взаимодействие;
                </li>
                <li>
                    способность мысленно ставить себя на место другого человека, умение слушать, учитывать мнение другого человека;
                </li>
                <li>
                    способность владеть речью, мимикой, жестами;
                </li>
                <li>
                    развитая речь, способность находить общий язык с разными людьми;
                </li>
                <li>
                    умение убеждать людей;
                </li>
                <li>
                    аккуратность, пунктуальность, собранность;
                </li>
                <li>
                    знание психологии людей.
                </li>
            </ul>
        </div>
    </div>

    <div style="background-color: #87ceeb; border-radius: 10px" class="p-3 mt-3">
        <div class="text-center fs-3 mb-3" >
            <i class="fa-solid fa-calculator"></i>
            &laquo;Человек-знаковая система&raquo;
        </div>
        <div>
            <p style="text-indent: 25px;">
                Если вы любите выполнять вычисления, чертежи, схемы, вести картотеки, систематизировать различные сведения, если вы хотите заниматься программированием, экономикой или статистикой и т. п., то знакомьтесь с профессиями типа «человек -знаковая система». Большинство профессий этого типа связано с переработкой информации.
            </p>
            <p style="text-indent: 25px;">
                Предметом труда для представителей большинства профессий типа «человек знаковая система» являются:
            </p>
            <ul>
                <li>
                    тексты на родном или иностранном языках (редактор, корректор, машинистка, делопроизводитель, телеграфист, наборщик);
                </li>
                <li>
                    цифры, формулы, таблицы (программист, оператор ЗВМ, экономист, бухгалтер, статистик);
                </li>
                <li>
                    чертежи, схемы, карты (конструктор, инженер-технолог, чертежник, копировальщик, штурман, геодезист);
                </li>
                <li>
                    звуковые сигналы (радист, стенографист, телефонист, звукооператор).
                </li>
            </ul>
            <p style="text-indent: 25px;">
                Психологические требования профессий «человек-знаковая система»:
            </p>
            <ul>
                <li>
                    хорошая оперативная и механическая память;
                </li>
                <li>
                    способность к длительной концентрации внимания на отвлеченном (знаковом) материале;
                </li>
                <li>
                    хорошее распределение и переключение внимания;
                </li>
                <li>
                    точность восприятия, умение видеть то, что стоит за условными знаками;
                </li>
                <li>
                    усидчивость, терпение;
                </li>
                <li>
                    логическое мышление.
                </li>
            </ul>
        </div>
    </div>

    <div style="background-color: #ffc0cb; border-radius: 10px" class="p-3 mt-3">
        <div class="text-center fs-3 mb-3" >
            <i class="fa-solid fa-paintbrush"></i>
            &laquo;Человек-художественный образ&raquo;
        </div>
        <div>
            <p style="text-indent: 25px;">
                Предметом труда для представителей большинства профессий типа «человек-художественный образ» является художественный образ, способы его построения.
            </p>
            <p style="text-indent: 25px;">
                Специалистам в этой области приходится выполнять следующие виды деятельности:
            </p>
            <ul>
                <li>
                    создание, проектирование художественных произведений (писатель, художник, композитор, модельер, архитектор, скульптор, журналист, хореограф);
                </li>
                <li>
                    воспроизведение, изготовление различных изделий по образцу (ювелир, реставратор, гравер, музыкант, актер, столяр-краснодеревщик);
                </li>
                <li>
                    размножение художественных произведений в массовом производстве (мастер по росписи фарфора, шлифовщик по камню и хрусталю, маляр, печатник).
                </li>
            </ul>
            <p style="text-indent: 25px;">
                Психологические требования профессий «человек-художественный образ»:
            </p>
            <ul>
                <li>
                    художественные способности; развитое зрительное восприятие;
                </li>
                <li>
                    наблюдательность, зрительная память; наглядно-образное мышление; творческое воображение;
                </li>
                <li>
                    знание психологических законов эмоционального воздействия на людей.
                </li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}
