{% extends "base.html.twig" %}

{% block content_title %}
	О программе
{% endblock %}

{% block content %}
<div>
    <h4>
        <p>
            <b>Тип работы:</b>
            Дипломный проект
        </p>
    </h4>
</div>
<div class="mt-2">
    <h4>
        <p>
            <b>Тема:</b>
            Web-ресурс психологической помощи
        </p>
    </h4>
</div>
<div class="mt-2">
    <h4>
        <p>
            <b>Руководитель работы:</b>

        </p>
    </h4>
</div>
<div class="mt-2">
    <h4>
        <p>
            <b>Автор работы:</b>
            ст. группы СКС-18 Радченко Вероника Сергеевна
        </p>
    </h4>
</div>
{% endblock %}
