{% extends "base.html.twig" %}

{% block content_title %}
Тест на тревожность Спилбергера Ханина
{% endblock %}

{% block content %}
<p>
    Тест исследует психологическую тревожность. В тесте Спилберга-Ханина оценивается ваша ситуативная и личностная тревожность. Прочитайте внимательно каждое из приведенных предложений и выберите вариант в зависимости от того, как вы себя чувствуете в данный момент.
</p>
<div class="container col-7">
    <h5 class="text-center mb-4 mt-3">
        Ваш результат
    </h5>
    <div class="progress" style="height: 25px;">
        <div class="progress-bar d-block" role="progressbar" style="font-size: 1.4em; width: 55%; background-color: rgb(240,90,102);" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <span>20% (51 из 80 баллов)</span>
        </div>
    </div>

    <div class="mt-4">
        <p class="text-center fs-4">
            <b>Ситуативная тревожность:</b> высокая. Вы склонны к появлению тревоги в ситуациях, когда оцениваете свою компетентность. Нужна работа с психологом по снижению субъективной значимости ситуации и задач. Необходимо перенести акцент на формирование уверенности в успехе, осмысление деятельности.
        </p>
    </div>

    <div class="progress" style="height: 25px;">
        <div class="progress-bar d-block" role="progressbar" style="font-size: 1.4em; width: 55%; background-color: rgb(240,90,102);" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <span>20% (51 из 80 баллов)</span>
        </div>
    </div>

    <div class="mt-4">
        <p class="text-center fs-5">
            <b>Личная тревожность:</b> высокая. Вы склонны к появлению тревоги в ситуациях, когда оцениваете свою компетентность. Нужна работа с психологом по снижению субъективной значимости ситуации и задач. Необходимо перенести акцент на формирование уверенности в успехе, осмысление деятельности.
        </p>
    </div>

    <div>
        <p style="text-indent: 25px;">
            <i>
                Ситуативная тревожность характеризует состояние человека в настоящий момент времени, проявляется напряжением, беспокойством, может вызывать нарушение внимания, снижение работоспособности, повышенную утомляемость и быструю истощаемость.
            </i>
        </p>
        <p style="text-indent: 25px;">
            <i>
                Личная тревожность - это склонность воспринимать практически все ситуации, как угрожающие, и реагировать на эти ситуации состоянием сильной тревоги. Высокая личностная тревожность может быть причиной невротического конфликта, эмоционального срыва и психосоматического заболеваниями.
            </i>
        </p>
    </div>
</div>

{% endblock %}
