{% extends "base.html.twig" %}

{% block content_title %}
    Подростковые проблемы с родителями, с семьей
{% endblock %}

{% block content %}
    <p class="text-center">
        Ты подросток? Родители ругают, кричат, бьют, не разрешают что-то, у вас часто происходят конфликты? Отношения
        родителя и ребенка могут быть самыми разными. Тем не менее, подросток очень часто нуждается в психологической
        помощи. Мама и папа не всегда могут быть понимающими родителями, ведь у каждого из нас много психологических
        проблем. Именно поэтому многие дети говорят: "Меня никто не понимает", и это действительно так. Также конфликты
        часто случаются с братом и сестрой, с дедушкой и бабушкой. Наша программа робота-психолога нацелена для оказания
        бесплатной психологической помощи подросткам, у которых постоянные ссоры в семье.
    </p>
    <hr>
    <h4>Рекомендации робота-психолога</h4>

    <h5 class="text-center mb-3">Этап 1</h5>

    <div class="accordion" id="accordion1">

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed d-flex justify-content-between" type="button"
                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                    <span>Не держите переживания в себе, пытайтесь проговаривать свои чувства.</span>
                </button>
            </h2>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed d-flex justify-content-between" type="button"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                    <span>Принимайте помощь от других людей.</span>
                </button>
            </h2>
        </div>
    </div>

    <h5 class="text-center mt-3 mb-3">Этап 2</h5>

    <div class="accordion" id="accordion2">

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne1">
                <button
                   class="accordion-button collapsed" type="button"
                   data-bs-target="#panelsStayOpen-collapseOne1" aria-expanded="true"
                   aria-controls="panelsStayOpen-collapseOne1">
                    <span>Соблюдайте режим дня.</span>
                </button>
            </h2>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo1" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo1">
                    <span>Чаще находитесь на свежем воздухе.</span>
                </button>
            </h2>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne1">
                <a href="{{ url('consultations.index') }}" class="link accordion-button collapsed"
                   data-bs-target="#panelsStayOpen-collapseOne1" aria-expanded="true"
                   aria-controls="panelsStayOpen-collapseOne1">
                    <span>Обратитесь к психологу на индивидуальную консультацию.</span>
                </a>
            </h2>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading1">
                <button class="accordion-button collapsed d-flex justify-content-between" type="button"
                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapse1">
                    <span>Групповая терапия</span>
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </h2>
            <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-heading1">
                <div class="accordion-body">
                    <p style="text-indent: 25px;">
                        Поучаствуйте в групповой терапии, пообщайтесь с людьми, пережившими то же самое, что и вы; дайте
                        себе возможность полностью выплеснуть эмоции (гнев, отчаяние), не замыкайтесь в себе, делитесь
                        своими переживаниями с людьми, которым доверяете, дайте себе достаточно времени, чтобы пережить
                        произошедшее; составьте список фильмов, музыки, которые действуют на вас положительно,
                        расслабляют вас.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h5 class="text-center mt-3 mb-3">Этап 3</h5>

    <div class="accordion" id="accordion3">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo1">
                <button class="accordion-button collapsed" type="button"
                        data-bs-target="#panelsStayOpen-collapseTwo1" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo1">
                    <span>Включите в свой день физические упражнения: начинайте с малого, не перегружайте свое тело.</span>
                </button>
            </h2>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo2">
                <button class="accordion-button collapsed justify-content-between" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo2" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo2">
                    <span>Придумайте новые интересы и активности.</span>
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo2" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo2">
                <div class="accordion-body">
                    <p style="text-indent: 25px;">
                        Найдите новые хобби, включитесь в волонтерскую деятельность или делайте то, что даст вам цель и
                        чувство осмысленности. Когда вы делайте что-то, что наполняет вас, вы почувствуете себя лучше, а
                        чувство отчаяния вернется с меньшей вероятностью.
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo3">
                <button class="accordion-button collapsed justify-content-between" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo3" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo3">
                    <span>Упражнение «Думайте нежно».</span>
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo3" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo3">
                <div class="accordion-body">
                    <p style="text-indent: 25px;">
                        Эта техника релаксации позволяет расслабить какую-то конкретную часть тела. С помощью
                        воображения она снимает физическое напряжение. Направьте внимание на напряженную мышцу.
                        Вообразите, что она превращается во что-то мягкое. Можете представить себе горящую свечу,
                        которую вы держите в руке. Воск тает, и капля за каплей капает вам на руку. Вы ощущаете его
                        тепло. Ваши мышцы начинают расслабляться (некоторые люди представляют, как их напряженные мышцы
                        превращаются в глину, хлопок, поролон или вату). Вы можете использовать любые образы и картины,
                        ассоциирующиеся с миром и доверием. Например, представить себя в виде свернувшегося клубочком
                        спящего котенка. А может вам понравится мягкая сила урчащего от удовольствия льва или львицы.
                        Чтобы расслабить лицо, вы можете представить его себе в виде роскошного цветка. Мысленно
                        нарисуйте его прекрасные лепестки и блестящую зелень листвы. Цветок нежен и свеж, и вы можете
                        ощутить его аромат. Сделайте глубокий вдох и плавный выдох, представляя себе при этом, как
                        уходит напряжение. Если способ "Думайте нежно" ослабляет напряжение хотя бы на двадцать или
                        более процентов, вам стоит его использовать. В конечном счете, вы научитесь достигать
                        результатов в течение шестидесяти секунд.
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo1">
                <button class="accordion-button collapsed" type="button"
                        data-bs-target="#panelsStayOpen-collapseTwo1" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo1">
                    <span>Напишите письмо самому себе, поделитесь своими переживаниями, дайте себе советы. Что вы хотите себе сказать?</span>
                </button>
            </h2>
        </div>
    </div>

    <h5 class="text-center mt-3 mb-3">Этап 4</h5>

    <div class="accordion" id="accordion4">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne1">
                <a href="{{ url('tests.show', {slug: 'veroatnost-suicida'}) }}" class="link accordion-button collapsed"
                   data-bs-target="#panelsStayOpen-collapseOne1" aria-expanded="true"
                   aria-controls="panelsStayOpen-collapseOne1">
                    <span>Пройдите тест на вероятность суицида</span>
                </a>
            </h2>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo4">
                <button class="accordion-button collapsed d-flex justify-content-between" type="button"
                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo4" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo4">
                    <span>Медитация "Кораблик"</span>
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo4" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo4">
                <div class="accordion-body">
                    <p style="text-indent: 25px;">
                        Вы берете лист бумаги и пишите на нем о своих страхах, горе, печалях. Пишите старательным
                        разборчивым почерком. Как в школе. Пишите внимательно. Проверьте, возможно, Вам захочется
                        дописать еще что-то. Допишите. А теперь сложите из бумаги кораблик. Закройте глаза и
                        представьте, как вы выходите на берег реки, подходите к воде и отпускаете кораблик на волны.
                        Сначала он колышется у самого берега. Волна то поднимает, то опускает его. Кораблик качается, на
                        волнах играют солнечные блики. Но вот потихоньку волна относит кораблик от берега. Он уплывает
                        от Вас и Вы отпускаете его. Все дальше и дальше. Вы уже не можете различить буквы на его борту.
                        Еще одна волна набегает на берег. Еще дальше отплывает от берега кораблик. Все дальше и дальше.
                        Вот он уже едва различим. И вот он скрылся за горизонтом, унося Ваши страхи, обиды, горе.
                        Помашите ему рукой. Кораблик уплыл. Уплыли страхи. Уплыли обиды. Уплыло горе. Сделайте глубокий
                        вдох. Выдох. Мысленно попрощайтесь с ним. Еще один вдох. Выдох. Вы в своем собственном теле. В
                        своем темпе, не торопясь, комфортно, возвращайтесь в комнату. Почувствуйте свои руки и ноги,
                        вернитесь к ощущениям тела. Возможно, вам захочется, вздохнуть поглубже, подвигаться немножко,
                        растянуть мышцы, оглянуться, посмотреть на других.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
