{% extends "base.html.twig" %}

{% block content_title %}
    Безответная любовь
{% endblock %}

{% block content %}
    <p class="text-center">
        После расставания с любимым парнем или девушкой, мужем или женой, каждый из нас испытывает боль. И не важно,
        было ли решение обоюдным, или кто-то бросил партнера. Пережить расставание с любимым человеком вам поможет наша
        программа робота-психолога. Кроме этого, если вы испытываете безответную любовь к парню или девушке, мечтаете
        разлюбить, забыть и отпустить этого человека, прохождение данной программы будет для вас очень полезным.
    </p>
    <hr>

    <h4>Шаг 6</h4>
    <p class="text-center">
        Хорошо, 12. События в нашей жизни прямым или косвенным способом зависят от нас, от наших действий, поступков,
        мыслей. Я хочу вас призвать к тому, чтобы вы начали осознавать, что вы сами способны влиять на свою жизнь, на
        развитие событий, вы в силах изменить эту тяжелую ситуацию, в которой оказались. Если это упражнение не совсем
        получилось у вас с первого раза, не страшно. Попробуйте еще раз, например, завтра. Попробуйте расширить свой
        список неудач и успешных ситуаций и назвать их причины.
    </p>

    <p style="text-indent: 25px">
        А сейчас я попрошу вас назвать три свои сильные стороны, качества своей личности. Если сначала вам кажется это
        сложным, все равно попробуйте их найти, ведь преимущества есть у каждого.
    </p>

    <div>
        <h5>Мои сильные стороны:</h5>

        <p class="align-items-center w-25">
            <label class="d-flex">1. <input class="ms-1 form-control form-control-sm"></label>
        </p>

        <p class="align-items-center w-25">
            <label class="d-flex">2. <input class="ms-1 form-control form-control-sm"></label>
        </p>

        <p class="align-items-center w-25">
            <label class="d-flex">3. <input class="ms-1 form-control form-control-sm"></label>
        </p>

    </div>

    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="{{ url('robot.show', {slug: slug, step: 'result'}) }}">Далее</a>
    </div>
{% endblock %}
