{% extends "base.html.twig" %}

{% block content_title %}
Изменение пароля
{% endblock %}

{% block content %}
<form class="col-5 container" action="{{ url('saveNewPassword') }}" method="POST">

    <p class="text-center">Введите новый пароль</p>

    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Новый пароль">
        <label for="floatingInput">Новый пароль</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Сохранить</button>

    <div class="mt-3 text-center">
        <p><a href="{{ url('showAuthForm') }}" class="link">Войти в личный кабинет</a></p>
        <p><a href="{{ url('showRegForm') }}" class="link">Зарегистрироваться</a></p>
    </div>
</form>
{% endblock %}
