{% extends "base.html.twig" %}

{% block content_title %}
Регистрация
{% endblock %}

{% block content %}
<form method="post" action="{{ url('register')}}" class="col-5 container">

    {% if app.request.session.has('email_exists') %}
        <div class="alert alert-danger" role="alert">
            Пользователь с таким email уже зарегистрирован
        </div>

        {% do app.request.session.remove('email_exists') %}
    {% endif %}

    {% if app.request.session.has('password_lenght') %}
        <div class="alert alert-danger" role="alert">
            Пароль должен содержать более 3 символов
        </div>

        {% do app.request.session.remove('password_lenght') %}
    {% endif %}

    <div class="form-floating">
        <input type="email" class="form-control" name="email" required id="floatingInput" placeholder="E-mail">
        <label for="floatingInput">E-mail</label>
    </div>

    <div class="form-floating mt-2">
        <input type="password" class="form-control" name="password" required id="floatingPassword" placeholder="Пароль">
        <label for="floatingPassword">Пароль</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Зарегистрироваться</button>

    <div class="mt-3 text-center">
        <p><a href="{{ url('showRestoreForm') }}" class="link">Забыли пароль?</a></p>
        <p><a href="{{ url('showAuthForm') }}" class="link">Войти в личный кабинет</a></p>
    </div>
</form>
{% endblock %}
