{% extends "base.html.twig" %}

{% block content_title %}
Восстановление пароля
{% endblock %}

{% block content %}
<form class="col-5 container" action="{{ url('sendRestoreMail') }}" method="POST">

    <p class="text-center">Введите электронную почту, на которую был зарегистрирован пользователь.</p>

    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="E-mail">
        <label for="floatingInput">E-mail</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Отправить</button>

    <div class="mt-3 text-center">
        <p><a href="{{ url('showAuthForm') }}" class="link">Войти в личный кабинет</a></p>
        <p><a href="{{ url('showRegForm') }}" class="link">Зарегистрироваться</a></p>
    </div>
</form>
{% endblock %}
