{% extends "base.html.twig" %}

{% block content_title %}
Тест на вероятность суицида
{% endblock %}

{% block content %}
<p>
    Шкала безнадежности Бека (Hopelessness Scale, Beck et al.) предназначена для предсказания возможности самоубийства на основе мыслей о будущем и возлагаемых на него надежд.
</p>

<div class="container col-7">
    <h5 class="text-center mb-4 mt-3">
        Ваша оценка безнадежности:
    </h5>
    <div class="progress" style="height: 25px;">
        <div class="progress-bar d-block" role="progressbar" style="font-size: 1.4em; width: 20%; background-color: rgb(240,90,102);" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <span>20%</span>
        </div>
    </div>

    <div class="mt-4">
        <p class="text-center fs-3">
            Безнадежность умеренная. Требуется консультация психолога.
        </p>
        <ul class="mt-3 text-center fs-6" style="list-style: none;">
            <li>
                <a href="#" class="link">Пройдите программу робота-психолога по суициду</a>
            </li>
            <li>
                <a href="#" class="link">Запишитесь на психологическую консультацию</a>
            </li>
            <li>
                <a href="#" class="link">Пройдите программу робота-психолога по депрессии</a>
            </li>
        </ul>
    </div>

    <div class="mt-3">
        <h6>Пояснения</h6>
        <p style="text-indent: 25px;">
            Безнадежность рассматривается как система негативных ожиданий относительно ближайшего и отдаленного будущего. Индивиды с высокими показателями безнадежности верят:
        </p>
        <ul>
            <li>что все в их жизни будет идти не так;</li>
            <li>что они никогда ни в чем не преуспеют;</li>
            <li>что они не достигнут своих целей;</li>
            <li>что их худшие проблемы никогда не будут разрешены.</li>
        </ul>
        <p style="text-indent: 25px;">
            Такое описание безнадежности соответствует негативному образ себя, негативному образу своего функционирования в настоящем и негативный образ будущего.
        </p>
        <p style="text-indent: 25px;">
            Шкала безнадежности Бека измеряет выраженность негативного отношения субъекта к собственному будущему. Особую ценность данная методика представляет в качестве косвенного индикатора суицидального риска у лиц, страдающих депрессией, а также у людей, ранее уже совершавших попытки самоубийства
        </p>
    </div>
</div>

{% endblock %}
