.active{
    background-color: #f05a66 !important;
    color: white !important;
}

.tab-pane{
    background-color: white !important;
    color: black !important;
}

.nav-link{
    color: #f05a66;
}

.nav-link:hover{
    color: white !important;
    background-color: #ff818b;
}

.btn-primary{
    background-color: #f05a66 !important;
    border-color: #f05a66 !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-primary:focus{
    box-shadow: 0 0 0 0.15rem rgb(255 199 203) !important;
}

.form-control:focus, .form-select:focus, .form-check-input:focus{
    border-color: rgb(255 199 203) !important;
    box-shadow: 0 0 0 0.15rem rgb(255 199 203) !important;
}

.btn-primary:hover{
    background-color: #f93544 !important;
}

.form-check-input:checked{
    background-color: #f05a66 !important;
    border-color: #f05a66 !important;
}

.navbar-custom .nav-link:hover{
    background-color: transparent !important;
}

.navbar-custom a:hover{
    color: #f93544 !important;
}

.top-nav-item{
    padding: 0.5em;
    border-radius: 50%;
    border: 2px solid #f05a66;
    color: #f05a66;
    width: 2.7em;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.top-nav-item:hover{
    background-color: #f05a66;
    color: white;
}

.comment{
    border: 2px solid #ff818b;
    background-color: #fff0f1;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}

.comment:after{
    content: "";
    clear: both;
    display: table;
}

.affirmation-form{
    position: relative;
}

.affirmation-btn{
    position: absolute;
    left: calc(50% - 129.6px / 2);
    top: calc(50% - 48px / 2);
}

#affirmation-msg{
    display: none;
    position: absolute;
    left: 20%;
    top: 30%;
    color: white;
    font-weight: 500;
    font-style: italic;
    font-size: 1.5em;
    width: 80%;
}

.link{
    text-decoration: none;
    color: #f05a66;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.link:hover{
    color: #f93544;
}

.bgc-custom{
    background-color: #fff0f1;
}

.btn-outline-custom{
    color: #f05a66;
    border-color: #f05a66;
}

.btn-outline-custom:hover{
    color: white;
    background-color: #f05a66 !important;
}

.btn-check:checked+.btn-outline-custom, .btn-outline-custom:active{
    color: white;
    background-color: #f05a66 !important;
    box-shadow: none !important;
}

.accordion-button{
    color: black;
    background-color: #fff0f1;
}

.accordion-button:focus{
    box-shadow: none !important;
    background-color: #fff0f1 !important;
    border-color: none !important;
}

.accordion-button:not(.collapsed){
    color: white;
    background-color: #ff818b !important;
}

.accordion-button::after{
    display: none !important;
}

.accordion-button:not(.collapsed) i{
    color: white;
    transform: rotate(-180deg);
}

.link{
    text-decoration: none;
    color: #f05a66;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
