{% extends "base.html.twig" %}

{% block content_title %}
Подростковые проблемы с родителями, с семьей
{% endblock %}

{% block content %}
<p class="text-center">
    Ты подросток? Родители ругают, кричат, бьют, не разрешают что-то, у вас часто происходят конфликты? Отношения родителя и ребенка могут быть самыми разными. Тем не менее, подросток очень часто нуждается в психологической помощи. Мама и папа не всегда могут быть понимающими родителями, ведь у каждого из нас много психологических проблем. Именно поэтому многие дети говорят: "Меня никто не понимает", и это действительно так. Также конфликты часто случаются с братом и сестрой, с дедушкой и бабушкой. Наша программа робота-психолога нацелена для оказания бесплатной психологической помощи подросткам, у которых постоянные ссоры в семье.
</p>
<hr>
<h4>Рекомендации робота-психолога</h4>

<h5 class="text-center mb-3">Этап 1</h5>

<div class="accordion" id="accordion1">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <span>Упражнение "Четыре квадрата"</span>
                <i class="fa-solid fa-angle-down"></i>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p style="text-indent: 25px;">
                    Возьмите лист бумаги и разделите его на четыре квадрата. В углу каждого квадрата поставьте цифры 1, 2, 3, 4.
                </p>

                <table class="table table-striped w-25 text-center m-auto mt-5 mb-5">
                    <tr class="w-25">
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                </table>

                <p style="text-indent: 25px;">
                    Теперь в квадрате 1 напишите пять ваших качеств, которые вам нравятся и которые вы считаете положительными. Можно назвать качества одним словом, например «находчивый», «надежный». А можно описать их несколькими словами, например, «умею по-настоящему дружить», «всегда довожу начатое дело до конца».
                </p>
                <p style="text-indent: 25px;">
                    Теперь заполните квадрат 3: напишите в нем пять ваши качеств, которые вам не нравятся, которые вы считаете негативными. Вы можете писать совершенно искренне, если вы не захотите, никто не узнает о том, что вы написали.
                </p>
                <p style="text-indent: 25px;">
                    Теперь внимательно посмотрите на качества, которые вы записали в квадрате 3, и переформулируйте их так, чтобы они стали выглядеть как положительные. Для этого вы можете представить, как эти качества назвал бы человек, который вас очень любит и которому в вас нравится все. Запишите переформулированные качества в квадрате 2.
                </p>
                <p style="text-indent: 25px;">
                    Теперь представьте, что вас кто-то очень не любит и поэтому даже ваши положительные качества он воспринимает как отрицательные. Посмотрите на качества, записанные в квадрате 1, переформулируйте их в негативные (с точки зрения вашего врага) и запишите в квадрате 4.
                </p>
                <p style="text-indent: 25px;">
                    А теперь прикройте ладонью квадраты 3 и 4, и посмотрите на квадраты 1 и 2. Видите, какой замечательный человек получился!
                </p>
                <p style="text-indent: 25px;">
                    Теперь, наоборот, закройте ладонью квадраты 1 и 2, и посмотрите на квадраты 3 и 4. Жуткая картина! С таким человеком никто не захочет общаться.
                </p>
                <p style="text-indent: 25px;">
                    А теперь посмотрите в целом на свой лист. Ведь на самом деле вы описали одни и те же качества. Это все вы. Только с двух точек зрения: с точки зрения друга и с точки зрения врага. Нарисуйте на пересечении квадратов круг и напишите в нем крупную букву «Я».
                </p>
                <p style="text-indent: 25px;">
                    Такой подход к «противнику» помогает найти в нем позитивные качества и иногда меняет отношение к нему, минимизируя риск конфликтного развития событий. Полезным может оказаться и анализ своих качеств с точки зрения оппонента. А теперь составьте такой же квадрат для того, с кем у вас возникают конфликты.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          <span>Упражнение "Что нас объединяет"</span>
                <i class="fa-solid fa-angle-down"></i>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            <p style="text-indent: 25px;">
                Нарисуйте на листе бумаги солнце с лучиками. На лучиках напишите качество или черту характера, которые есть у вас и у того, с кем вы конфликтуете. Предложите нарисовать такое солнце и своим близким.
            </p>
        </div>
      </div>
    </div>
</div>

<h5 class="text-center mt-3 mb-3">Этап 2</h5>

<div class="accordion" id="accordion2">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne1">
            <a href="#" class="link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne1" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne1">
                <span>Пройдите тест "30 пословиц. Стратегия поведения в конфликте".</span>
            </a>
        </h2>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo1">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo1" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo1">
            <span>Предоставляйте вашему партнеру (с которым конфликтуете) возможность выговориться.</span>
        </button>
      </h2>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne1">
            <a href="#" class="link accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne1" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne1">
                <span>Обратитесь к психологу на индивидуальную консультацию.</span>
            </a>
        </h2>
    </div>
</div>

<h5 class="text-center mt-3 mb-3">Этап 3</h5>

<div class="accordion" id="accordion3">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo1" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo1">
                <span>Подчеркивайте в разговоре общность с партнером (сходство интересов, мнений, единство цели и др.)</span>
            </button>
        </h2>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo1" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo1">
                <span>Проявите интерес к проблемам партнера, с которым конфликтуете.</span>
            </button>
        </h2>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo1" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo1">
                <span>Подчеркивайте значимость партнера, его мнения в ваших глазах.</span>
            </button>
        </h2>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo1" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo1">
                <span>В случае вашей неправоты – немедленно признавайте ее.</span>
            </button>
        </h2>
    </div>
</div>

<h5 class="text-center mt-3 mb-3">Этап 4</h5>

<div class="accordion" id="accordion4">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne4" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne4">
                <span>Предложите конкретный выход из сложившейся ситуации.</span>
            </button>
        </h2>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo4">
            <button class="accordion-button collapsed d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo4" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo4">
                <span>Выстраивайте конфликт по данной схеме:</span>
                <i class="fa-solid fa-angle-down"></i>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo4" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo4">
            <div class="accordion-body">
                <p style="text-indent: 25px;">
                    1 фаза - вводная.  "Пострадавший" должен сказать, что хочет спросить.  Например, "Я хочу выяснить то-то и то-то, почему вы поступили так-то и не сделали того-то?
                </p>
                <p style="text-indent: 25px;">
                    2 фаза - средняя (собственно спор). Говорите о сути дела, а не вокруг да около. Обязательно отреагируйте на высказанное недоразумение, критику. Изложите свое мнение конкретно и четко.
                </p>
                <p style="text-indent: 25px;">
                    3 фаза - заключительная, когда принимается решение по вопросу, вызвавшему противоречие. Признайте свою ошибку или докажите обратное. Найдите у другого что-нибудь приятное, положительно его характеризующее.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo1" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo1">
                <span>В конфликте обращайтесь к фактам.</span>
            </button>
        </h2>
    </div>
</div>

{# <div class="accordion" id="accordion2">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne1">
            <button class="accordion-button collapsed d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne1" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne1">
                <span>Упражнение "Четыре квадрата"</span>
                <i class="fa-solid fa-angle-down"></i>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne1" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne1">
            <div class="accordion-body">
                <p style="text-indent: 25px;">
                    Возьмите лист бумаги и разделите его на четыре квадрата. В углу каждого квадрата поставьте цифры 1, 2, 3, 4.
                </p>

                <table class="table table-striped w-25 text-center m-auto mt-5 mb-5">
                    <tr class="w-25">
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                </table>

                <p style="text-indent: 25px;">
                    Теперь в квадрате 1 напишите пять ваших качеств, которые вам нравятся и которые вы считаете положительными. Можно назвать качества одним словом, например «находчивый», «надежный». А можно описать их несколькими словами, например, «умею по-настоящему дружить», «всегда довожу начатое дело до конца».
                </p>
                <p style="text-indent: 25px;">
                    Теперь заполните квадрат 3: напишите в нем пять ваши качеств, которые вам не нравятся, которые вы считаете негативными. Вы можете писать совершенно искренне, если вы не захотите, никто не узнает о том, что вы написали.
                </p>
                <p style="text-indent: 25px;">
                    Теперь внимательно посмотрите на качества, которые вы записали в квадрате 3, и переформулируйте их так, чтобы они стали выглядеть как положительные. Для этого вы можете представить, как эти качества назвал бы человек, который вас очень любит и которому в вас нравится все. Запишите переформулированные качества в квадрате 2.
                </p>
                <p style="text-indent: 25px;">
                    Теперь представьте, что вас кто-то очень не любит и поэтому даже ваши положительные качества он воспринимает как отрицательные. Посмотрите на качества, записанные в квадрате 1, переформулируйте их в негативные (с точки зрения вашего врага) и запишите в квадрате 4.
                </p>
                <p style="text-indent: 25px;">
                    А теперь прикройте ладонью квадраты 3 и 4, и посмотрите на квадраты 1 и 2. Видите, какой замечательный человек получился!
                </p>
                <p style="text-indent: 25px;">
                    Теперь, наоборот, закройте ладонью квадраты 1 и 2, и посмотрите на квадраты 3 и 4. Жуткая картина! С таким человеком никто не захочет общаться.
                </p>
                <p style="text-indent: 25px;">
                    А теперь посмотрите в целом на свой лист. Ведь на самом деле вы описали одни и те же качества. Это все вы. Только с двух точек зрения: с точки зрения друга и с точки зрения врага. Нарисуйте на пересечении квадратов круг и напишите в нем крупную букву «Я».
                </p>
                <p style="text-indent: 25px;">
                    Такой подход к «противнику» помогает найти в нем позитивные качества и иногда меняет отношение к нему, минимизируя риск конфликтного развития событий. Полезным может оказаться и анализ своих качеств с точки зрения оппонента. А теперь составьте такой же квадрат для того, с кем у вас возникают конфликты.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo1">
        <button class="accordion-button collapsed d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo1" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo1">
          <span>Упражнение "Что нас объединяет"</span>
                <i class="fa-solid fa-angle-down"></i>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo1" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo1">
        <div class="accordion-body">
            <p style="text-indent: 25px;">
                Нарисуйте на листе бумаги солнце с лучиками. На лучиках напишите качество или черту характера, которые есть у вас и у того, с кем вы конфликтуете. Предложите нарисовать такое солнце и своим близким.
            </p>
        </div>
      </div>
    </div>
</div> #}
{% endblock %}
