{% extends "base.html.twig" %}

{% block content_title %}
Подростковые проблемы с родителями, с семьей
{% endblock %}

{% block content %}
<p class="text-center">
    Ты подросток? Родители ругают, кричат, бьют, не разрешают что-то, у вас часто происходят конфликты? Отношения родителя и ребенка могут быть самыми разными. Тем не менее, подросток очень часто нуждается в психологической помощи. Мама и папа не всегда могут быть понимающими родителями, ведь у каждого из нас много психологических проблем. Именно поэтому многие дети говорят: "Меня никто не понимает", и это действительно так. Также конфликты часто случаются с братом и сестрой, с дедушкой и бабушкой. Наша программа робота-психолога нацелена для оказания бесплатной психологической помощи подросткам, у которых постоянные ссоры в семье.
</p>
<hr>

<h4>Шаг 3</h4>

<p>
    Хорошо, <span>USER</span>. А теперь напишите, а какие деструктивные (разрушающие) стороны есть у ваших конфликтов с родными?
</p>

<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Деструктивные стороны наших конфликтов:</label>
    <textarea class="form-control w-50" id="exampleFormControlTextarea1" rows="3"></textarea>
    <i class="text-danger">Если затрудняетесь с ответом, то напишите: "Не знаю".</i>
</div>

<p>
    <i>Подсказка (примеры деструктивных сторон конфликта):</i>

    <ul>
        <li>Отрицательные эмоциональные переживания, которые могут привести к различным заболеваниям</li>
        <li>Нарушение личных отношений между людьми, ухудшение психологического климата в семье</li>
        <li>Представление о победителях или побежденных как о врагах</li>
        <li>Временные потери. На одну минуту конфликта приходится 12 минут послеконфликтных переживаний.</li>
    </ul>
</p>

<div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="{{ url('robot.research.result') }}">Далее</a>
</div>

{% endblock %}
