{% extends "base.html.twig" %}

{% block content_title %}
Подростковые проблемы с родителями, с семьей
{% endblock %}

{% block content %}
<p class="text-center">
    Ты подросток? Родители ругают, кричат, бьют, не разрешают что-то, у вас часто происходят конфликты? Отношения родителя и ребенка могут быть самыми разными. Тем не менее, подросток очень часто нуждается в психологической помощи. Мама и папа не всегда могут быть понимающими родителями, ведь у каждого из нас много психологических проблем. Именно поэтому многие дети говорят: "Меня никто не понимает", и это действительно так. Также конфликты часто случаются с братом и сестрой, с дедушкой и бабушкой. Наша программа робота-психолога нацелена для оказания бесплатной психологической помощи подросткам, у которых постоянные ссоры в семье.
</p>
<hr>

<h4>Шаг 2</h4>

<p>
    Хорошо, <span>USER</span>. Спасибо за ваши честные ответы!

Вспомните ваши обычные конфликты с родными. Какие конструктивные стороны в них есть? То есть что "полезного" они в себе несут? Подумайте хорошенько, попытайтесь найти как можно больше таких сторон.
</p>

<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Конструктивные стороны наших конфликтов:</label>
    <textarea class="form-control w-50" id="exampleFormControlTextarea1" rows="3"></textarea>
    <i class="text-danger">Если затрудняетесь с ответом, то напишите: "Не знаю".</i>
</div>

<p>
    <i>Подсказка (примеры конструктивных сторон конфликта):</i>

    <ul>
        <li>Конфликт вскрывает «слабое звено» во взаимоотношениях (диагностика ваших проблем)</li>
        <li>Конфликт дает возможность увидеть скрытые отношения</li>
        <li>Конфликт дает возможность выплеснуть отрицательные эмоции, снять напряжение</li>
        <li>Конфликт – это толчок к пересмотру, развитию своих взглядов на привычное</li>
        <li>Необходимость разрешения конфликта способствует развитию</li>
        <li>Конфликт способствует сплочению при противоборстве с внешним врагом</li>
    </ul>
</p>

<div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="{{ url('robot.show', {slug: slug, step: 'step3'}) }}">Далее</a>
</div>

{% endblock %}
